@tailwind base;

p,
ul,
li,
a {
  font-family: "Solway";
}

@tailwind components;

.ais-SearchBox {
  font-size: 2.5rem;
  border-bottom: 2px solid #4a5568;
  color: #4a5568;
  font-family: "Geist";
  background: transparent;
  border-radius: 0.5rem;
}

.ais-SearchBox-input {
  padding: 0.25rem;
}

.ais-SearchBox-input:focus {
  outline: none;
}

.ais-SearchBox-submitIcon {
  display: none;
}

@tailwind utilities;

.geist {
  font-family: "Geist";
}

.solway {
  font-family: "Solway";
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
