@tailwind base;

p,
ul,
li,
a {
  font-family: "Solway";
}

@tailwind components;

.ais-SearchBox {
}

.ais-SearchBox-input {
}

@tailwind utilities;

.geist {
  font-family: "Geist";
}

.solway {
  font-family: "Solway";
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
